body{
	color: #fff;
	background-color: #9fcdff;
     position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
 }
#header{
    background-color: #007bff;
    padding: 10px;
    /*position: fixed;*/
}

/*.navbar{*/
/*	background-color: #0c0;*/
/*	padding: 20px;*/
/*}*/

#example{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  color: black;
}
/*#about, #contact, #address*/
/*#footer{*/
/*	background-color: #1d2124 ;*/
/*    padding: 30px;*/
/*    height: 200px;*/
/*    color: #fff;*/
/*}*/
/*.panel-footer {*/
/*	background-color: #002;*/
/*    color: white;*/
/*}*/
/*.panel-footer section {*/
/*    margin-bottom: 30px;*/
/*    text-align: center;*/
/*  }*/



/*#flipkartDiv{*/
/*    background-color: mediumturquoise;*/
/*    color: black;*/
/*}*/

#amazonDiv, #flipkartDiv{
    background-color: #5cb85c;
    color: black;
}
#reg, #log{
    position: center;
    /*background-color: black;*/
}

.my-container {
    margin: 0 auto;
    width: 94%;
    min-height: 100%;
}

.footer {
  /*  position: absolute;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*padding: 1rem;*/
  /*background-color: orange;*/
  /*text-align: center;*/

   position:fixed;
   bottom:0;
    right: 0;
    left: 0;
   width:100%;
   background-color: #1b1e21;
}