#header{
background-color: #3B5243;

}

#log, #reg{
    margin-top: 30px;
    margin-bottom: 68px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user_login_head, #user_reg_head{
    margin-top: 20px;
    background-color: #3B5243;
    margin-bottom: 20px;
}


@media screen and (min-width: 576px) {
 .flipkartDivOutput, .amazonDivOutput{
  height: 400px;
  }
}

@media screen and (max-width: 991px) {
 .navbar-nav{
        mr-auto;
  }
}

#amazonDiv{
  margin-left: 20px;
}

a {
text-decoration: none !important;
}

#user_login, #new_user_form{
padding: 4px;
}

.btn, #footer{
  background-color: #54B977;
}

.navbar-brand, a.nav-link, a.nav-link:hover {
  color: white;
}

#navbar{
    margin-bottom: 0;
}

#log{
    margin-bottom: 123px;
}

